
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  text-align: center;
  white-space: nowrap;
}
article#scordatura {
  margin: 0;
  padding: 0;
}
section#palettonal {
  margin: 0;
  padding: 0;
}
table#chalkboard {
  width: 500px;
  margin: 2% auto 0 auto;
  border-collapse: collapse;
  padding: 0;
}
table#chalkboard td {
  border: 0.08em solid #0b0b0b;
  background-color: #040404;
  padding: 0.1em;
}
table#chalkboard td:focus {
  color: #2f4f4f;
}
table#chalkboard td button {
  cursor: pointer;
  border: 0.05em solid #101010;
  border-radius: 0.3em;
  background-color: #080808;
  padding: 0.05em 0.25em;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1em;
  color: #008080;
}
table#chalkboard td button:hover {
  text-decoration: underline;
  color: #00ced1;
}
section#chordophone {
  margin: 0;
  padding: 0;
}
dl#fingerboard {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 1.6em;
  color: #999900;
}
dl#fingerboard dt {
  margin: 0.3em;
  padding: 0;
  font-weight: bold;
  color: #8b4513;
}
dl#fingerboard dd {
  margin: 0;
  padding: 0;
}
footer.utility {
  margin-top: 5%;
  padding: 0;
  font-family: sans-serif;
}
noscript.message {
  font-size: 1.5em;
  color: #a52a2a;
}
p.notice {
  font-size: 0.8em;
  color: #2f4f4f;
}
@media screen and (max-width: 600px) {
  table#chalkboard {
    margin: 1% auto 0 auto;
    width: auto;
  }
  table#chalkboard td {
    padding: 0;
  }
  table#chalkboard td button {
    margin: 0;
    border: 0;
    padding: 0.03em 0.1em;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    font-size: 1em;
  }
  dl#fingerboard {
    font-size: 1.25em;
  }
}

